site_name: Chatterino
site_url: https://wiki.chatterino.com
use_directory_urls: true
extra_css:
  - stylesheets/extra.css
theme:
  name: material
  logo: https://chatterino.com/logo.png
  favicon: https://chatterino.com/logo.png
  palette:
    - media: "(prefers-color-scheme: light)"
      scheme: default
      toggle:
        icon: material/toggle-switch-off-outline
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: chatterino-dark
      toggle:
        icon: material/toggle-switch
        name: Switch to light mode

  features:
    - navigation.instant
    - navigation.top
  icon:
    repo: fontawesome/brands/github
plugins:
  - search
  - git-revision-date-localized:
      type: datetime
      fallback_to_build_date: true
repo_url: https://github.com/chatterino/chatterino2
edit_uri: ""
markdown_extensions:
  - attr_list
  - footnotes
  - toc:
      permalink: true
extra:
  social:
    - icon: fontawesome/brands/discord
      link: https://discord.gg/qq7DDxjste
      name: Discord
    - icon: fontawesome/brands/github
      link: https://github.com/chatterino/chatterino2
      name: GitHub
    - icon: fontawesome/solid/dollar-sign
      link: https://streamelements.com/fourtf/tip
      name: Donate
